{% extends 'auctions/layout.html' %}
{% block body %}
<div class="detail"> 
    <div class="detail-container">
        <h3 class="title">{{object.title}}</h3>
        <img class="item-image" src="{{object.image}}">
        <div class="contained">
            <label>By:<strong>{{object.lister}}</strong></label>
            <strong class="price">{{object.price}} $</strong>
            <p class="description">{{object.description}}</p> 
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="left">  
            <form class="button-right" action="{% url 'watchlistEdit'%}" method="POST">{% csrf_token %}
                <input type="text" name="id" hidden value="{{object.id}}">
                <input type="submit" id="watchlist" class="btn btn-primary" value="{{inWatchlist}}">
            </form>
            <form method="POST" class="bid-form  input-group mb-3">{% csrf_token %}
                {{bidForm.as_p}}
                <input type="submit" class="btn btn-primary" value="Place bid">
            </form>
            
                <form method="POST" class="input-group mb-3" action="{% url 'listingClose' %}">{% csrf_token %}
                    <input type="text" name="id" hidden value="{{object.id}}">
                    <input type="submit" class="btn btn-danger" value="Close auction">
                </form>
            
            <h4>All bids:</h4>
            <ul class="top-bids">
                {% for bid in bidList %}
                <li class="top-bids-item">{{bid}}</li>
                {% endfor %}
            </ul>
            
        </div>
    {% endif %}
</div>
{% endblock body %}
